---

---

<main class="container flex gap-2 mx-auto">
  <section class="flex-1">
    <div>
      <h1>Milder Yaniv Carreón Chambi</h1>
    </div>
    <nav>
      <ul>
        <li>Sobre mí</li>
        <li>Experiencia</li>
        <li>Proyectos</li>
      </ul>
    </nav>
    <div>
      <a href="#">Github</a>
      <a href="#">Linkedn</a>
      <a href="#">Mail</a>
    </div>
  </section>
  <section class="flex-1">
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae cupiditate
        laudantium hic saepe asperiores soluta eligendi, molestias blanditiis
        nostrum. Ipsam explicabo quo doloremque dolore perferendis molestias
        pariatur velit quas officia!
      </p>
    </div>
  </section>
</main>
