---

---

<section class="border border-b-1 border-gray-300" id="navbar">
  <header class="container mx-auto font-inter">
    <nav>
      <div class="flex justify-between py-4">
        <div>Logo</div>
        <ul class="flex space-x-5">
          <li><a href="">Sobre Mi</a></li>
          <li><a href="">Experiencia</a></li>
          <li><a href="">Proyectos</a></li>
          <li><a href="">Hoja de Vida</a></li>
        </ul>
      </div>
    </nav>
  </header>
</section>

<section id="hero-section">
  <div class="container">
    
  </div>
</section>

